In [76]:
import pandas
import json
from DA_IO import Gspreadsheet

In [8]:
#import challenge1000 all 

class RefEnv(object):
	"""edit docs"""
	def __init__(self, path_PROJECT_DATA= '/Volumes/GoogleDrive/My Drive/Open Data Platform/', uri = 'star_schema.json'):
		self.dst = 'Source'
		self.Export_folder = 'Export'
		self.path_PROJECT_DATA = path_PROJECT_DATA
		self.raw = '{}DATA/Raw/{}'.format(self.path_PROJECT_DATA,'{}')### how exactly is working .format(, '{}') ?
		self.transformed = '{}DATA/Transformed/{}'.format(self.path_PROJECT_DATA, '{}') ### how exactly is working .format(, '{}') ?        
		self.uri = '{}DATA/SCHEMA/{}'.format(self.path_PROJECT_DATA,uri)
		self.schema = self.get_schema()

	def get_schema(self):
		print(self.uri)
		with open(self.uri, 'r') as s:
			schema = json.load(s)
		return schema


class Native(object): ###allows to get df1_clean with 6 columns : 'categorie','age_pers','nbr_salarie','ca_2017','ca_2018','ca_2019' and key_main as index => this is X dataframe. The dataframe text gets only the presentation from df1_clean and the index
	"""docstring for RefEnv"""
	def __init__(self):
		self.X = pandas.concat([pandas.read_excel(RefEnv().raw.format('Challenge_des_1_000_.xlsx'), sheet_name = element) for element in range(0,7) ])
		#self.ALL = self.operation().set_index('key_main') 
		#self.X = self.operation().set_index('key_main')#[['nom_struc','categorie','age_pers','nbr_salarie','ca_2017','ca_2018','ca_2019','pays_struc1','date_struc','prix_struc','linkedin_struc','email_pers']] 
		#self.descriptions = self.operation()[['nom_struc','prez_struc', 'prez_produit_struc','prez_marche_struc','prez_zone_struc','prez_objectif_struc', 'prez_innovante_struc','prez_duplicable_struc', 'prez_durable_struc','categorie']]
		#self.descriptions_trad = self.get_trans()
		#self.text = self.operation_text()
		#self.X = self.X[['nom_struc','categorie', 'cat_struc', 'cat_autre_struc','age_pers','nbr_salarie','ca_2017','ca_2018','ca_2019','pays_struc1','pays_struc2','date_struc','prix_struc','linkedin_struc','email_pers']]

	def get_trans(self):
		frame = pandas.read_json(RefEnv().transformed.format('traduct.json')).set_index('key_main')
		frame.columns = ['prez_struc', 'prez_produit_struc','prez_marche_struc','prez_zone_struc','prez_objectif_struc', 'prez_innovante_struc','prez_duplicable_struc', 'prez_durable_struc']
		return frame
	def categorie_structure(self,cat_struc,cat_autre_struc):
		if cat_struc == "Santé, bien être, et protection sociale" or cat_struc == "Health, well-being and social protection":
			return "sante" 
		if cat_struc == "Fintech":
			return "finance"
		if cat_struc == "Technologies émergentes" or cat_struc == "Emerging technologies":
			return "technologie"
		if cat_struc == "Médias, édition et communication" or cat_struc =="Media, publishing and communication":
			return "media"
		if cat_struc == "Agriculture, territoires ruraux et ressources naturelles" or cat_struc == "Agriculture, rural areas and natural resources":
			return  "agriculture"
		if cat_struc == "Education, formation professionnelle et emploi" or cat_struc =="Education, vocational training and employment":
			return  "education" 
		if cat_struc == "E-commerce, marketing et distribution" or cat_struc == "E-commerce, marketing and distribution":
			return  "ecommerce"
		if cat_struc == "Gouvernement ouvert et transformation sociale" or cat_struc == "Open government and social transformation":
			return  "gouvernement"
		if cat_struc == "Energie" or cat_struc == "Energy":
			return  "energie" 
		if cat_struc == "Territoires intelligents et mobilité" or cat_struc == "Intelligent territories and mobility":
			return  "mobilite"
		if cat_struc == "Industries culturelles et créatives" or cat_struc == "Cultural and creative industries":
			return  "culture"
		if (cat_struc == "Autre (précisez)" or cat_struc == "Other - please specify" or cat_struc == "autre (précisez)"):
			return  'autres'
		if cat_struc != cat_struc: #what is it for ? 
			return 'non renseigné'
		else:
			return cat_struc
	
	def template(self, nom, prenom, email, struc, origine, activite, site, linkedin, prez, produit, marche, zone, objectif, innovant, duplicable, durable):
		description = 'Nom du répondant : {nom} \nPrénom du répondant : {prenom} \nemail : {email} \n \nNom de la structure : {struc} \nPays d\'origine : {origine} \nPays d\'activité : {activite} \nSite internet : {site} \nLinkedin : {linkedin} \n \nPrésentation de la structure \n{prez} \n \nPrésentation du produit, de la solution phare porté par la structure \n{produit} \n \nSur quel marché et vers quelle cible \n{marche} \n \nZone géographique de l’activité \n{zone} \n \nObjectifs de croissance et vision à moyen et long terme du marché \n{objectif} \n \nEn quoi votre solution est elle innovante \n{innovant} \n \nEn quoi est elle duplicable à moindre coût \n{duplicable} \n \nEn quoi votre solution rend les villes françaises et africaines plus durables du point de vue environnemental et social \n{durable} \n \n'.format(nom = nom, prenom = prenom, email = email, struc = struc, origine = origine, activite = activite, site = site, linkedin = linkedin, prez = prez, produit = produit, marche = marche, zone = zone, objectif = objectif, innovant = innovant, duplicable = duplicable, durable = durable)
		return description

	def operation_text(self):
		self.X['temp'] = self.X.apply(lambda x: self.template(x['nom_pers'], x['prenom_pers'], x['email_pers'],x['nom_struc'], x['pays_struc1'], x['pays_struc2'], x['site_struc'],x['linkedin_struc'], x['prez_struc'],x['prez_produit_struc'], x['prez_marche_struc'], x['prez_zone_struc'],x['prez_objectif_struc'], x['prez_innovante_struc'], x['prez_duplicable_struc'],x['prez_durable_struc']), axis=1)
		return self.X[['cat_struc','prez_struc', 'prez_produit_struc','prez_marche_struc', 'prez_zone_struc', 'prez_objectif_struc','prez_innovante_struc', 'prez_duplicable_struc', 'prez_durable_struc', 'temp']]

	def operation(self):
		self.X['nbr_salarie'] = self.X[['empl_h_struc', 'empl_f_struc']].agg(sum, axis=1)
		self.X['ca_2019'] = self.X[['ca_2019_trim1', 'ca_2019_trim2', 'ca_2019_trim3']].agg(sum, axis=1)
		self.X['categorie'] = self.X.apply(lambda x: self.categorie_structure(x['cat_struc'], x['cat_autre_struc']), axis=1)
		return self.X

/Volumes/GoogleDrive/My Drive/Open Data Platform/DATA/SCHEMA/star_schema.json
/Volumes/GoogleDrive/My Drive/Open Data Platform/DATA/SCHEMA/star_schema.json
/Volumes/GoogleDrive/My Drive/Open Data Platform/DATA/SCHEMA/star_schema.json
/Volumes/GoogleDrive/My Drive/Open Data Platform/DATA/SCHEMA/star_schema.json
/Volumes/GoogleDrive/My Drive/Open Data Platform/DATA/SCHEMA/star_schema.json
/Volumes/GoogleDrive/My Drive/Open Data Platform/DATA/SCHEMA/star_schema.json
/Volumes/GoogleDrive/My Drive/Open Data Platform/DATA/SCHEMA/star_schema.json

In [114]:
X = Native().X
header = X[X.index == 0].values.tolist()[0]
X.columns = header
X = X[X.index > 0].copy()
X  = X.loc[:,~X.columns.duplicated()].copy()



big = Gspreadsheet('Jupyter - Liste avec mails_BIG 28sept').sheet_to_df()
#big = pandas.read_csv('/Users/py3/Downloads/Jupyter - Liste avec mails_BIG 28sept.xlsx', sep = ',')
big.keys()

print(len(big) - len(X[X['Adresse mail'].isin(big['Mails '])]))

export_big = big[['Pays résidence', 'Civilité', 'Nom', 'Prénom','Mails ']].set_index(('Mails ')).join(X[X['Adresse mail'].isin(big['Mails '])].set_index('Adresse mail')['Téléphone mobile']).reset_index().sort_values('index', ascending =False )

export_big = export_big[['Pays résidence', 'Civilité', 'Nom', 'Prénom','index','Téléphone mobile']].fillna('').copy()
export_big.columns = ['Pays résidence', 'Civilité', 'Nom', 'Prénom','Mails','Telephone']
export_big

Gspreadsheet('Jupyter - Liste avec mails_BIG 28sept').df_to_sheet(export_big)

export_big.to_csv('Liste avec mails_BIG 28sept.csv')

In [173]:
#import laureats
laureats = Gspreadsheet('Lauréats').sheet_to_df()

Project ID:  web-services-d4-digital-africa
Service Account Email:  main-d4da@web-services-d4-digital-africa.iam.gserviceaccount.com

In [174]:
laureats.keys()

Index(['#', 'Pays d'enregistrement', 'Civilité', 'Nom', 'Prénom', 'Email',
       'Nom de l'entreprise'],
      dtype='object')

In [234]:
print(len(laureats) - len(X[X['Adresse mail'].isin(laureats['Email'])]))
low = lambda k: k.lower()

laureats['identified_email'] = laureats.apply(lambda k: 5 if k['Email'].lower() in X['Adresse mail'].map(low).values.tolist() else 0, axis = 1)
print(len(laureats[laureats['identified'] == 0]))

89
0

In [235]:
laureats.groupby('identified_email').count()

,#,Pays d'enregistrement,Civilité,Nom,Prénom,Email,Nom de l'entreprise,identified,identified_nom_struc
identified_email,,,,,,,,,
0,93,93,93,93,93,93,93,93,93
5,907,907,907,907,907,907,907,907,907

In [236]:
laureats['identified_nom_struc'] = laureats.apply(lambda k: 4 if k["Nom de l'entreprise"].lower() in X['Nom / Raison sociale de la structure'].map(low).values.tolist() else 0, axis = 1)
print(len(laureats[laureats['identified_nom_struc'] == 0]))

153

In [237]:
laureats.groupby(['identified_email','identified_nom_struc']).count()

                                         #  Pays d'enregistrement  Civilité  \
identified_email identified_nom_struc
0                0                      87                     87        87
                 4                       6                      6         6
5                0                      66                     66        66
                 4                     841                    841       841

                                       Nom  Prénom  Email  \
identified_email identified_nom_struc
0                0                      87      87     87
                 4                       6       6      6
5                0                      66      66     66
                 4                     841     841    841

                                       Nom de l'entreprise  identified
identified_email identified_nom_struc
0                0                                      87          87
                 4                                       6           6
5                0                                      66          66
                 4                                     841         841

In [239]:
laureats['unknown'] = laureats.apply(lambda x: max(x['identified_email'],x['identified_nom_struc']), axis = 1)

In [253]:
laureats[laureats['unknown'] ==0]

,#,Pays d'enregistrement,Civilité,Nom,Prénom,Email,Nom de l'entreprise,identified,identified_email,identified_nom_struc,unknown
61,62,Afrique du Sud,Mme,Mukwamu,Tania,info@maxicashapp.com,Maxicash,email,0,0,0
64,65,Afrique du Sud,Mme,Williams,Lesley,community@tshimologong.joburg,Tshimologong,email,0,0,0
65,66,Afrique du Sud,Mme,Finschat,Ellen,hello@oribivillage.com,Oribi Village du groupe SOS,email,0,0,0
86,87,Angola,Mme,Ramalho Oliveira,Palmira,BIG.GRP@GMAIL.COM,Buda Investmentos Grupo Lda,email,0,0,0
87,88,Angola,Mme,Cardoso,Marília,mariliac18@gmail.com,Empreendimentos Danany comércio e prestação de...,email,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
857,862,Sénégal,Mme,SY,Rokhaya,hello@paps-app.com,PAPS,email,0,0,0
863,868,Sierra Leone,Mme,Sesay,Christine,info@africasmoneypreneur.com,Africa's Moneypreneur,email,0,0,0
986,987,Zambie,Mme,Bowa,Vwanganji,info@mightyfinance.co.zm,Mighty Finance,email,0,0,0
987,988,Zambie,Mme,Zileni Zaloumis,Marla,maria@tuzinifarms.com;,Tuzini Farms,email,0,0,0
996,997,Zimbabwe,Mme,Eugenia Muhamba,Tapiwa,admin@mycpdzw.org,ZIMBABWE TELEMEDECINE NETWORK,email,0,0,0

In [245]:
laureats.loc[laureats['Prénom'] == 'Tapiwa',laureats['Prénom']]

KeyError: "None of [Index(['Januario', 'Kim', 'Hleziphi', 'Febbie Tanaka', 'Renshia', 'UNATHI',\n       'Khumalo', 'Tumelo', 'Arno', 'Sebastien',\n       ...\n       'Farayi Richard', 'Fidelis', 'Mthokozisi Mzingaye', 'Noreen Chenesai',\n       'Respect Rungano', 'Kudakwashe', 'Tapiwa', 'Phillipa', 'Ruramiso',\n       'Erica'],\n      dtype='object', length=1000)] are in the [columns]"

In [251]:
laureats.xs(996)['Email'] = 'tapsemuhamba@gmail.com'

/Users/py3/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [462]:
X = Native().X
header = X[X.index == 0].values.tolist()[0]
X.columns = header
X = X[X.index > 0].copy()
X  = X.loc[:,~X.columns.duplicated()].copy()

/Volumes/GoogleDrive/My Drive/Open Data Platform/DATA/SCHEMA/star_schema.json
/Volumes/GoogleDrive/My Drive/Open Data Platform/DATA/SCHEMA/star_schema.json
/Volumes/GoogleDrive/My Drive/Open Data Platform/DATA/SCHEMA/star_schema.json
/Volumes/GoogleDrive/My Drive/Open Data Platform/DATA/SCHEMA/star_schema.json
/Volumes/GoogleDrive/My Drive/Open Data Platform/DATA/SCHEMA/star_schema.json
/Volumes/GoogleDrive/My Drive/Open Data Platform/DATA/SCHEMA/star_schema.json
/Volumes/GoogleDrive/My Drive/Open Data Platform/DATA/SCHEMA/star_schema.json

In [463]:
low = lambda k: k.lower()

X['laureat'] = X.apply(lambda k: 1 if k['Adresse mail'].lower() in laureats['Email'].map(low).values.tolist() else 0, axis = 1)
print(len(X[X['laureat'] == 1]))

X['laureat'] = X.apply(lambda k: 1 if k['Nom / Raison sociale de la structure'].lower() in laureats["Nom de l'entreprise"].map(low).values.tolist() else k['laureat'], axis = 1)
print(len(X[X['laureat'] == 1]))

915
939

In [464]:
big = Gspreadsheet('Jupyter - Liste avec mails_BIG 28sept').sheet_to_df()
#big = pandas.read_csv('/Users/py3/Downloads/Jupyter - Liste avec mails_BIG 28sept.xlsx', sep = ',')
big.keys()

print(len(big) - len(X[X['Adresse mail'].isin(big['Mails '])]))

export_big = big[['Pays résidence', 'Civilité', 'Nom', 'Prénom','Mails ']].set_index(('Mails ')).join(X[X['Adresse mail'].isin(big['Mails '])].set_index('Adresse mail')['Téléphone mobile']).reset_index().sort_values('index', ascending =False )

export_big = export_big[['Pays résidence', 'Civilité', 'Nom', 'Prénom','index','Téléphone mobile']].fillna('').copy()
export_big.columns = ['Pays résidence', 'Civilité', 'Nom', 'Prénom','Mails','Telephone']
len(export_big[export_big['Mails'] == ''])

Project ID:  web-services-d4-digital-africa
Service Account Email:  main-d4da@web-services-d4-digital-africa.iam.gserviceaccount.com
10

10

In [465]:
print(len(export_big[export_big['Mails'] != '']['Mails']))

X['big'] = X.apply(lambda k: 1 if k['Adresse mail'].lower() in export_big[export_big['Mails'] != '']['Mails'].map(low).values.tolist() else 0, axis = 1)
print(len(X[X['big'] == 1]))

58
58

In [466]:
X.keys().values.tolist()

['Reference',
 'Status',
 'Nom',
 'Prénom',
 'Courriel',
 'Civilité',
 'Nationalité',
 'Votre tranche d’âge',
 'Présentation de votre parcours',
 'Téléphone mobile',
 'Téléphone fixe',
 'Compte LinkedIn perso',
 'Compte Twitter perso',
 'Votre fonction dans la structure',
 'Copie de votre pièce identité',
 'Votre langue de travail (plusieurs possibles)',
 'Le(s) fondateur(s) de la structure est-il (sont-ils) différent(s) du porteur de projet ?',
 'Civilité 1',
 'Nom, Prénom(s) 1',
 'Nationalité 1',
 'Civilité 2',
 'Nom, Prénom(s) 2',
 'Nationalité 2',
 'Civilité 3',
 'Nom, Prénom(s) 3',
 'Nationalité 3',
 'Nom / Raison sociale de la structure',
 'Date de création de la structure',
 'Type de structure',
 'Numéro d’enregistrement de la structure',
 'Pays d’enregistrement',
 'Enregistrement',
 'Copie d’un certificat d’enregistrement de votre structure',
 'Logo de la structure',
 'Adresse du siège social',
 'Ville',
 'Région',
 'Pays',
 'Option 1',
 'Option 2',
 'Option 3',
 'Catégorie',
 'Autre (précisez)',
 'Site web de la structure',
 'Compte LinkedIn',
 'Compte Facebook',
 'Compte Twitter',
 'Compte Instagram',
 'Lien vers une vidéo',
 'Télécharger une plaquette de présentation (pdf)',
 'Présentation de la structure',
 'Présentation du produit / de la solution phare porté par la structure (disponible et sur le marché)',
 'Sur quel marché et vers quelle cible',
 'Zone géographique de l’activité',
 'Objectifs de croissance et vision à moyen (2 ans) et long terme (5 ans) du marché',
 'En quoi votre solution est elle innovante (limité à 1500 caractères)',
 'En quoi est elle duplicable à moindre coût (limité à 1500 caractères)',
 'En quoi votre solution rend les villes françaises et africaines plus durables du point de vue environnemental et social (limité à 1500 caractères)',
 'Devise 2019',
 '1er trimestre',
 '2ème trimestre',
 '3ème trimestre',
 'Devise 2018',
 'CA 2018',
 'Devise 2017',
 'CA 2017',
 'Homme(s)',
 'Femme(s)',
 'Accompagnement par une structure (incubateurs, plateformes, réseaux) et si oui, laquelle',
 'Autres partenaires clés',
 'Prix et distinctions (prix, organisme émetteur et date)',
 'Investisseurs',
 'Par qui ce challenge vous a été recommandé',
 'J’accepte les conditions d’utilisation du site',
 'J’accepte de recevoir la newsletter Digital Africa',
 "Disposez-vous d'un compte ?",
 'ID Utilisateur',
 'Timestamp',
 'Last Updated',
 'Created By',
 'Updated By',
 'IP',
 'ID',
 'Key',
 'Prénom(s)',
 'Adresse mail',
 'Présentation de la structure (limité à 3000 caractères)',
 nan,
 'laureat',
 'big']

In [467]:
header_finance = ['CA_2019','CA_2018','CA_2017', 'Homme(s)', 'Femme(s)']

header_options = ['Option 1', 'Option 2', 'Option 3', 'Catégorie', 'Autre (précisez)']
header_categorie = [ 'Catégorie 1', 'Catégorie 2', 'Catégorie 3', 'Catégorie']

header_umbrella = ['Pays d’enregistrement','Date de création de la structure','Reference']

In [468]:
set(X['Devise 2017'])

{'-', 'Dollar', 'Euro'}

In [533]:
def convert_devise(number, yyyy):
    try:
        number = float(number.replace('-', '0'))
    except:
        number =number
        
    if yyyy == 2017:
        return number/1.13
    elif yyyy == 2018:
        return number/1.18
    elif yyyy == 2019:
        return number/1.12
    else:
        return number
    
unifier_dict = {'Autres': ['', 'Autre (précisez)', '\n\n', 'Other - please specify', 'Autre (précisez)\n', 'autre (précisez)'],
 'Agriculture':[ 'Agriculture, territoires ruraux et ressources naturelles\n', 'Agriculture, territoires ruraux et ressources naturelles', 'Agriculture, rural areas and natural resources'],
 'Energie': ['Energie','Energy'],
 'Santé': ['Health, well-being and social protection', 'Santé, bien être, et protection sociale\n', 'Santé, bien être, et protection sociale'],
 'Fintech':['Fintech'],
 'Technologie': [ 'Technologies émergentes','Emerging technologies'],
 'Mobilité - Gestion du territoire':[ 'Territoires intelligents et mobilité','Territoires intelligents et mobilité\n' ,'Bâtiment'],
 'GovTech':[ 'Gouvernement ouvert et transformation sociale'],
 'Education': [ 'Education, vocational training and employment', 'Education, formation professionnelle et emploi'],
 'Environnement': [ 'Energie accessible à moindre cout, Assainissement de la ville, lutte contre la deforestation et le rechauffement climatique, economie circulaire','Environnement (gestion des déchets et recyclage) et nouvelles technologies (interface mobile de gestion des déchets)'],
 'E-commerce': [ 'E-commerce, marketing and distribution', 'E-commerce, marketing et distribution', 'E-commerce, marketing et distribution\n'],
 'Accéder aux services essentiels':['Access to essential services', 'Accéder aux services essentiels','Accéder aux services essentiels\n'],
 'Aménager et embellir la ville':['Aménager et embellir la ville','Aménager et embellir la ville\n', 'Building and enhancing the city'],
 'Connecter la ville':['Connecter la ville', 'Connecting the city'],
 'Financer et structurer les projets':['Financer et structurer les projets', 'Financer et structurer les projets\n', 'Financing and structuring projects'],
 'Vivre dans la ville':['Living in the city','Vivre dans la ville', 'Vivre dans la ville\n'],
 'Nourrir les villes':['Feeding the city','Nourrir les villes'],
}

def unify(element):
    for theme in unifier_dict:
        if element in unifier_dict[theme]:
            return theme
        else:
            return element
        
        
X['CA_2019'] = 4/3*(X['1er trimestre'].map(lambda x: float(x) if x!= '-' else 0 ) + X['2ème trimestre'].map(lambda x: float(x) if x!= '-' else 0) + X['3ème trimestre'].map(lambda x: float(x) if x!= '-' else 0))

X['CA_2019'] = X.apply(lambda x: convert_devise(x['CA_2019'], 2019) if x['Devise 2019'] == 'Dollar' else x['CA_2019'],  axis = 1)
X['CA_2018'] = X.apply(lambda x: convert_devise(x['CA 2018'], 2018) if x['Devise 2018'] == 'Dollar' else x['CA 2018'], axis = 1)
X['CA_2017'] = X.apply(lambda x: convert_devise(x['CA 2017'], 2017) if x['Devise 2017'] == 'Dollar' else x['CA 2017'], axis = 1)
X['Homme(s)'] = X['Homme(s)'].replace('-', 0).map(int)
X['Femme(s)'] = X['Femme(s)'].replace('-', 0).map(int)
X['employees'] = X['Homme(s)'].replace('-', 0) + X['Femme(s)'].replace('-', 0)
X['employees'] = X['employees'].replace('', 0)
X['anciennete'] = 2020 - X['Date de création de la structure'].map(lambda x: int(x.split(' ')[3])) + 1

for cl in header_options:
    X[cl] = X[cl].map(unify)

In [534]:
X[X['Option 1'] != X['Option 1']][header_options]

Empty DataFrame
Columns: [Option 1, Option 2, Option 3, Catégorie, Autre (précisez)]
Index: []

In [535]:
X['Catégorie 3'] = X.apply(lambda x: x['Option 2'] if pandas.isna(x['Option 3']) else x['Option 3'] , axis= 1)
X['Catégorie 2'] = X.apply(lambda x: x['Option 1'] if pandas.isna(x['Option 2']) else x['Option 2'] , axis= 1)
X['Catégorie 1'] = X.apply(lambda x: x['Option 2'] if pandas.isna(x['Option 1']) else x['Option 1'] , axis= 1)

X['Catégorie 3'] = X.apply(lambda x: x['Catégorie 2'] if pandas.isna(x['Option 3']) else x['Option 3'] , axis= 1)

In [537]:
datastudio = X[['1er trimestre','2ème trimestre','3ème trimestre','Devise 2019','CA 2018','Devise 2017', 'CA 2017'] + header_finance + header_options + header_categorie + header_umbrella + ['employees','anciennete', 'laureat', 'big']].copy()
datastudio[(datastudio['big']==1 )|( datastudio['laureat']==1)]

,1er trimestre,2ème trimestre,3ème trimestre,Devise 2019,CA 2018,Devise 2017,CA 2017,CA_2019,CA_2018,CA_2017,...,Catégorie 2,Catégorie 3,Catégorie,Pays d’enregistrement,Date de création de la structure,Reference,employees,anciennete,laureat,big
1,500,2350,5000,Euro,-,Euro,-,10466.666667,-,-,...,Aménager et embellir la ville,Vivre dans la ville,Gouvernement ouvert et transformation sociale,Algérie,Tue Aug 06 2019 00:00:00 GMT+0000 (UTC),bf25b51ee0,2,2,1,0
2,150000,150000,150000,Euro,800000,Dollar,200000,600000.000000,800000,176991,...,Vivre dans la ville,Financer et structurer les projets,Energie,Algérie,Tue Sep 15 2015 00:00:00 GMT+0000 (UTC),b53253058f,7,6,1,0
8,-,5000,-,Euro,-,-,-,6666.666667,-,-,...,Se déplacer dans la ville / visiter la ville,Connecter la ville,Territoires intelligents et mobilité,Angola,Wed May 08 2019 00:00:00 GMT+0000 (UTC),20842502d3,4,2,1,0
12,-,-,-,Dollar,-,-,-,0.000000,-,-,...,Connecter la ville,Nourrir les villes,"E-commerce, marketing et distribution",Angola,Wed Dec 06 2017 00:00:00 GMT+0000 (UTC),2fa5b5f816,14,4,1,0
19,-,-,-,Dollar,-,Dollar,-,0.000000,0,0,...,Aménager et embellir la ville,Financer et structurer les projets,"Education, formation professionnelle et emploi",Angola,Mon Jul 14 2014 00:00:00 GMT+0000 (UTC),bdf2fad91d,5,7,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
367,10000,5000,-,Euro,9969,Euro,5000,20000.000000,9969,5000,...,Accéder aux services essentiels,Aménager et embellir la ville,"Education, formation professionnelle et emploi",Ouganda,Thu Jan 08 2015 00:00:00 GMT+0000 (UTC),8b02d7d04c,2,6,1,0
369,5000,5000,2000,Dollar,30000,-,2000,14285.714286,25423.7,2000,...,Accéder aux services essentiels,Aménager et embellir la ville,Energie,Ouganda,Sun Jan 22 2017 00:00:00 GMT+0000 (UTC),ba36cb17e3,7,4,1,0
377,-,-,-,Dollar,500000,Dollar,500000,0.000000,423729,442478,...,Aménager et embellir la ville,Accéder aux services essentiels,Technologies émergentes,Afrique du Sud,Thu Apr 09 2015 00:00:00 GMT+0000 (UTC),244463d136,10,6,1,0
378,-,-,-,Dollar,870,Dollar,-,0.000000,737.288,0,...,Accéder aux services essentiels,Nourrir les villes,"Médias, édition et communication",Congo-Kinshasa,Fri Aug 11 2017 00:00:00 GMT+0000 (UTC),d967d57e6f,5,4,1,0
379,-,-,-,Dollar,-,-,-,0.000000,-,-,...,Se déplacer dans la ville / visiter la ville,Living in the city,Autres,Afrique du Sud,Wed Sep 11 2019 00:00:00 GMT+0000 (UTC),d884580fb6,0,2,1,0

In [538]:
datastudio_file = Gspreadsheet('DataStudio 0110').sheet_to_df()

Project ID:  web-services-d4-digital-africa
Service Account Email:  main-d4da@web-services-d4-digital-africa.iam.gserviceaccount.com

In [545]:
Gspreadsheet('DataStudio 0110').df_to_sheet(datastudio[(datastudio['big']==1 )|( datastudio['laureat']==1)])
Gspreadsheet('DataStudio 0110').df_to_sheet(datastudio[datastudio['big']==1], sheet_name = 'big' )

Project ID:  web-services-d4-digital-africa
Service Account Email:  main-d4da@web-services-d4-digital-africa.iam.gserviceaccount.com
https://docs.google.com/spreadsheets/d/1uhynNeTYCS4vmvzIQUUoP8CbgpfNwbd_GG8G8Ls3fxc/edit#gid=0
Project ID:  web-services-d4-digital-africa
Service Account Email:  main-d4da@web-services-d4-digital-africa.iam.gserviceaccount.com
https://docs.google.com/spreadsheets/d/1uhynNeTYCS4vmvzIQUUoP8CbgpfNwbd_GG8G8Ls3fxc/edit#gid=0

In [428]:
500000/1.13

442477.87610619474

In [454]:
set(X['Devise 2019'])

{'Dollar', 'Euro'}

In [461]:
X["Devise 2019"]

1        Euro
2        Euro
3        Euro
4        Euro
5        Euro
        ...
375    Dollar
376    Dollar
377    Dollar
378    Dollar
379    Dollar
Name: Devise 2019, Length: 3533, dtype: object

In [541]:
datastudio[(datastudio['big']==1 )|( datastudio['laureat']==1)]['Femme(s)'].sum()

21207

In [543]:
datastudio[(datastudio['big']==1 )]['anciennete']

80      1
111     4
133     9
161     5
214     1
256     4
377     3
391     3
462     3
511     3
529     2
558     2
576     3
586     4
642     2
646     4
666     8
773     2
778     5
794     5
919     3
920     3
104    11
142     2
323     4
357     5
370    11
426     4
451     3
489     3
580     4
583     4
594     3
603     5
698    12
700    10
703     5
708     4
79      8
130     4
207     4
268     2
275     3
321     3
345     5
400     8
445     2
61      4
106     8
84      7
98      3
217     4
317     4
258     2
187     2
190     7
255     2
279     2
Name: anciennete, dtype: int64